- @nav_hierarchy = [:enrollments, @enrollment]

%h2 View Enrollment
= form_for(admin_enrollment_path(@enrollment), :html => { :class => 'admin-view' }) do |f|
  %fieldset
    .field
      = f.label :id, 'ID'
      = @enrollment.id
    .field
      = f.label :message_stream_id, 'Message Stream ID'
      = link_to @enrollment.message_stream_id, admin_message_stream_path(@enrollment.message_stream_id)
    .field
      = f.label :external_user_id, 'External User ID'
      = @enrollment.ext_user_id
    .field
      = f.label :first_name, 'First Name'
      = @enrollment.first_name
    .field
      = f.label :last_name, 'Last Name'
      = @enrollment.last_name
    .field
      = f.label :phone_number, 'Phone Number'
      = @enrollment.phone_number
    .field
      = f.label :delivery_method, 'Delivery Method'
      = @enrollment.delivery_method
    .field
      = f.label :language
      = @enrollment.language
    .field
      = f.label :preferred_time, 'Preferred Time'
      = @enrollment.preferred_time
    .field
      = f.label :stream_start, 'Stream Start'
      = @enrollment.stream_start
    .field
      = f.label :status
      = @enrollment.status
    .field
      = f.label :date_created, 'Date Created'
      = @enrollment.created_at.strftime '%b %e, %Y @ %r %Z'
    .field
      = f.label :last_updated, 'Last Updated'
      = @enrollment.updated_at.strftime '%b %e, %Y @ %r %Z'

%h2 Notifications
%table.admin-table
  %tr
    %th ID
    %th Enrollment
    %th Message
    %th Start
    %th Status
    %th Delivered At
    %th Actions
  - @notifications.each do |notification|
    %tr{:class => cycle('even', 'odd')}
      %td= notification.id
      %td= notification.enrollment_id
      %td= notification.message_id
      %td= notification.delivery_date.strftime '%Y-%m-%d'
      %td= notification.status
      %td= notification.delivered_at.try(:strftime, '%Y-%m-%d')
      %td.actions #{link_to 'View', [:admin, notification]}
