!!! XML
!!!
%html
  %head
    %title HMS Notifier
    = javascript_include_tag :defaults
    = yield :stylesheets
    = yield :javascripts

  %body
    - if content_for?(:content)
      = yield :content
    - else
      %div#content= yield
